<%- include('../partials/_headers'); %>
    <div class="block"></div>
    <div class="block"></div>

    
    <div class="media">
        <img class="mr-3" src="<%- ulke.flags.png %>" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0"><%- ulke.name.common %></h5>

            <table class="table">
                  <tr>
                    <td><b>Currencies:</b></td>
                    <td><%- ulke.currencies.name%> </td>
                    <td><%- ulke.currencies.symbol%> </td>
                    <td><%- console.log(ulke.currencies)%> </td>
                  </tr>
              </table>
        </div>
    </div>